* {
    box-sizing: border-box;
}

/* colors */
:root {
    --primary_color: #FFF3C7;
    --secondary_color: #FEC7B4;
    --tertiary_color: #FC819E;
    --fourth_color: #F7418F;
    --bg_color: rgba(254, 199, 180, 0.3);
}

body {
    background-color:  var(--primary_color);
}
#input_search_home, .search_bar button {
    background-color: var(--secondary_color);
    border-color: var(--tertiary_color);
}
.section_heading, .search_bar button, .horizontal_list li a, .card_name, .serial_no, .heart, .notification_icon, i, .bottom_music_player .song_name, .queue_pList_icon img{
    color: var(--fourth_color);
}

.artist_name, .card_release_date, .section_more, .dots, #input_search_home::placeholder, .singer_details:not(.section_heading), .bottom_music_player .artists_name, .bottom_music_player .progress_time{
    color: var(--tertiary_color);
    /* font-size: 1rem; */
}

.width95 {
    width: 95%;
    margin: auto;
}

.width100 {
    width: 100%;
}

.mb_2rem {
    margin-bottom: 2rem;
}

.mb_1rem {
    margin-bottom: 2rem;
}

.mt_0 {
    margin-top: 0px;
}

.padding_1em {
    padding: 1em;
}

.scroll_width_none {
    scrollbar-width: none;
}
.flex_align_center {
    align-items: center;
}
.flex_justify_center {
    justify-content: center;
}

.flex {
    display:flex;
}

.flex_column {
    flex-direction: column;
}

.flex_wrap {
    flex-wrap: wrap;
}

.cursor_pointer {
    cursor: pointer;
}

.horizontal_list {
    list-style: none;
    padding: 0px;
}
.horizontal_list li {
    display: inline-block;
}
.horizontal_list li a{
    text-decoration: none;
}

/* header top section  */
.header_top_section {
    justify-content: space-between;
}

#my_logo {
    width: 100%;
    margin-right: 10%;
}

#my_logo img{
    width: 100%;
    height: 100%;
    max-height: 40px;
    min-height: 30px;
    max-width: 160px;
    min-width: 120px;
}

#head_top_section_rightDiv {
    gap: 2em;
    width: 100%;
    justify-content: end;
}

.search_bar {
    position: relative;
}

#input_search_home{
    height: 3em;
    width: 15em;
    border-radius: 2rem;
    outline: none;
    padding: 1em;
}

.search_bar button {
    background-color: transparent;
    height: 2.3em;
    width: 2.3em;
    border-radius: 50%;
    position: absolute;
    top: 0.35em;
    right: 0.35em;
}

.notification_icon {
    font-size: 1.6em;
}

.profile_pic {
    height: 100%;
    /* width: 100%; */
}
.profile_pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    max-height: 60px;
    min-height: 50px;
    max-width: 60px;
    min-width: 50px;
}

/* header bottom section  */

#navbar_home_page .horizontal_list{
    justify-content: center;
    gap: 0.5em 2em;
    border-top: 2px solid var(--fourth_color);
    border-bottom: 2px solid var(--fourth_color);
    padding: 1rem;
}
#navbar_home_page .horizontal_list li{
    font-size: 1.1em;
}


/* mobile nav bar  */
#home_mobile_nav {
    display: none;
    position: relative;
}
#home_mobile_nav #nav_mobile_bars {
    font-size: 1.5em;
}
#home_mobile_nav ul{
    background-color: var(--secondary_color);
    padding: 0.5em;
    position: absolute;
    right: 0rem;
    top: 0.5rem;
    z-index: 2;
    width: 10rem;
    display: none;
    border-radius: 0.5em;
    border: 1px solid var(--fourth_color);
}
#home_mobile_nav ul li {
    display: block;
    padding: 0.3em;
}


/* main aside section */
.main_aside {
    gap: 2em;
    margin-bottom: 6rem;
}
main {
    width: 70%;
}

/* Carousel */

.carousel_img_container {
    height: 100%;
    width: 100%;
    gap: 1em;
    justify-content: space-around;
}

.carousel_img {
    width: 100%;
    height: 100%;
    transition: transform ease 0.6s;
}

.carousel_img img {
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
    max-width: 500px;
    min-width: 150px;
}

.carousel_img:hover, .horizontal_list li:hover {
    transform: scale(1.2);
    z-index: 999;
}

/* popular artists */

/* header */
.section_head {
    justify-content: space-between;
}

/* card container  */

#artists_cards_container, .section_cards_container {
    gap: 1em;              
    height: 100%;
    width: 100%;
    overflow-x: scroll;
}

.indivisual_card_container {
    height: 100%;
    width: 100%;
    gap: 0.6em;
}
.card_img_container {
    /* height: 100%;
    width: 100%; */
}

.card_img_container img{
    height: 100%;
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    min-width: 60px;
    min-height: 60px;
}

#artists_cards_container .card_img_container img {
    border-radius: 50%;
}

.card_name {
    text-align: center;
}

.name_artist .card_name, .lr_card_name_date_dots .card_name {
    text-align: start;
}

/* latest release */
#latest_release_cards_container {
    width: 80%;
    height: 100%;
    justify-content: flex-start;
    gap: 1em;
}

#latest_release_cards_container .indivisual_card_container {
    gap: 1em;
    justify-content: start;
    width: 100%;
}


.LR_card_img_container img{
    border-radius: 0.6em;
    height: 100%;
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    min-width: 60px;
    min-height: 60px;
}

.lr_card_name_date_dots {
    justify-content: space-between;
}

/* Stations */

.section_cards_container .card_img_container img {
    border-radius: 0.6em;
}

.curated_stations .indivisual_card_container {
    position: relative;
}

.curated_stations .indivisual_card_container .card_img_container img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 225px;
    /* min-width: 300px; */
}

.CS_card_name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.curated_stations {
    gap: 1em;              
    /* height: 100%; */
    width: 100%;
}

.curated_stations .indivisual_card_container .card_img_container img:hover{
    transform: scale(1.3);
    overflow: hidden;
}
.curated_stations .indivisual_card_container .card_img_container img{
    transition: all ease 1s;
}
.curated_stations .indivisual_card_container .card_img_container{
    overflow: hidden;
}

/* aside section  */

.aside_queue_icon {
    display: none;
}

#home_page_aside {
    width: 28%;
}

.queue_pl_cards_container {
    gap: 1em;
}

.aside_indivisual_container {
    width: 100%;
}

.aside_indivisual_container .content{
    width: 100%;
    gap: 0.5em;
}

.aside_indivisual_container .heart{
    width: 5%;
}

.aside_indivisual_container .card_img_container{
    width: 15%;
    /* height: auto; */
}

.aside_indivisual_container .card_img_container img{
    border-radius: 0.2em;
    height: 100%;
    width: 100%;
    min-width: 30px;
    max-width: 60px;
    min-height: 30px;
    max-height: 60px;
}

.card_img_container, .carousel_img, .LR_card_img_container {
    position: relative;
}

.card_img_container::after, .carousel_img::after, .LR_card_img_container::after {
    content: "\f144"; /* Unicode for the play icon in Font Awesome */
    /* content: ""attr(href)""; */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 24px;
    color: var(--secondary_color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 1s ease;
}
.card_img_container:hover::after, .carousel_img:hover::after, .LR_card_img_container:hover::after {
    opacity: 1;
}

/* bottom_music_player */
.bottom_music_player {
    justify-items: space-around;
    background-color: var(--secondary_color);
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 0.5em 2em;
}
.bottom_music_player .card_img_container {
    max-width: 50px;
}
.bottom_music_player .card_img_container img {
    max-width: 2.5em;
    max-height: 2.5em;
    min-width: 30px;
    min-height: 30px;
    border-radius: 0.4em;
}
.bottom_music_player i {
    font-size: 1.3em;
}
.bottom_music_player .queue_pList_icon img {
    width: 1.3em;
}

.end_box {
    justify-content: end;
}

.start_box, .mid_box, .end_box {
    gap: 1em;
}
.main_control_icons {
    gap: 0.5em;
}
.musicProgressBar input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}
.musicProgressBar input[type = "range"]::-webkit-slider-runnable-track {
    background-color: var(--tertiary_color);
    height: 0.2em;
    border-radius: 1em;
}
.musicProgressBar input[type = "range"]::-webkit-slider-thumb {
    background-color: var(--secondary_color);
    border: 2px solid var(--fourth_color);
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    margin-top: -0.4em;
}

/* arijit singh page  */

/* singer top section  */
.top_section_singer {
    gap: 2em;
    background-color: var(--bg_color);
}

.singer_img_container{
    width: 40%;
    /* flex-grow: 1; */
    max-width: 320px;
}
.singer_details {
    width: 60%;
    /* flex-grow: 10; */
}
.singer_img_container img{
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    border-radius: 0.5em;
}
.singer_details {
    width: 60%;
}

.btn_type1 {
    background-color: var(--secondary_color);
    color: var(--fourth_color);
    padding: 0.2em;
    border-radius: 0.5em;
    border: 2px solid var(--tertiary_color);
    cursor: pointer;
    width: 5em;
}
.btn_type2 {
    background-color: transparent;
    color: var(--fourth_color);
    padding: 0.2em;
    border-radius: 0.5em;
    border: 2px solid var(--tertiary_color);
    cursor: pointer;
    width: 5em;
}

.play_follow_btn {
    gap: 1em;
    margin: 1em 0em;
}

/* singer songs section  */
.singer_songs_section {
    gap: 1em;
}

.songs_indivisual_container .content .card_img_container img{
    border-radius: 0.2em;
    height: 100%;
    width: 100%;
    min-width: 30px;
    max-width: 60px;
    min-height: 30px;
    max-height: 60px;
}
.songs_indivisual_container{
    background-color: var(--bg_color);
    padding: 0.5em;
}
.songs_indivisual_container .content {
    gap: 1.5em;
}

/* media queries */
@media screen and (max-width: 769px) {
    .main_section {
        width: 100%;
    }

    .carousel_img img {
        min-width: 50px;
    }
    
    #home_page_aside {
        width: 60%;
    }
    .aside_section {
        background-color: var(--secondary_color);
        position: absolute;
        top: 1000em;
        right: 500em;
        padding: 1em;
        /* overflow-y: scroll; */
        width: 60%;
    }
    .aside_queue_icon {
        display: flex;
        position: fixed;
        top: 25em;
        right: 0.5rem;
        width: 3.5rem;
        height: 3.5rem;
        background-color: var(--secondary_color);
        padding: 0.8em;
        border-radius: 50%;
    }
    .aside_section:hover {
        /* position: sticky; */
        top: 25em;
        right: 3.8rem;
    }

    /* music player bottom  */
    .bottom_music_player .shuffle_icon, .repeat_icon, .queue_pList_icon{
        display: none;
    }
    .bottom_music_player i{
        font-size: 1em;
    }
    .start_box {
        flex-shrink: 1;
    }
    .mid_box {
        flex-shrink: 1.5;
    }
    .end_box {
        flex-shrink: 2;
    }
}

@media screen and (max-width: 576px) {
    .header_top_section {
        margin-bottom: 1rem;
    }
    #input_search_home {
        width: 7rem;
        height: 1.5em;
    }
    .search_bar button {
        height: 1.6em;
        width: 1.6em;
        top: 0.3em;
        right: 0.3em;
    }
    .search_bar button i{
        font-size: 0.8em;
        transform: translatex(-25%);
    }
    #head_top_section_rightDiv {
        gap: 1.5em;
    }
    .profile_pic img {
        display: none;
    }
    #head_top_section_rithtDiv .notification_icon {
        font-size: 0.8em;
    }
    .header_bottom_section {
        display: none;
    }
    #home_mobile_nav {
        display: block;
    }
    #home_mobile_nav:hover ul{
        display: flex;
    }

    /* singer page */
    .singer_img_container{
        max-width: 100px;
    }
    .singer_img_container img{
        width: 100%;
        max-width: 150px;
        min-width: 120px;
    }
    #home_mobile_nav #nav_mobile_bars {
        font-size: 1.2em;
    }
    .notification_icon {
        font-size: 1.2em;
    }
}

















